---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=11206
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2355'
      X-Ratelimit-Reset:
      - '1716336000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2355,"reset":1716336000},"results":[{"annotations":{"DMS":{"lat":"18\u00b0
        31'' 26.74596'''' N","lng":"69\u00b0 53'' 58.67808'''' W"},"MGRS":"19QDA0504448407","Maidenhead":"FK58bm25bs","Mercator":{"x":-7781191.53,"y":2085417.017},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/18.52410/-69.89963&layers=N","url":"https://www.openstreetmap.org/?mlat=18.52410&mlon=-69.89963#map=17/18.52410/-69.89963"},"UN_M49":{"regions":{"AMERICAS":"019","CARIBBEAN":"029","DO":"214","LATIN_AMERICA":"419","WORLD":"001"},"statistical_groupings":["LEDC","SIDS"]},"callingcode":1,"currency":{"alternate_symbols":["RD$"],"decimal_mark":".","disambiguate_symbol":"RD$","html_entity":"&#x20B1;","iso_code":"DOP","iso_numeric":"214","name":"Dominican
        Peso","smallest_denomination":100,"subunit":"Centavo","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\udde9\ud83c\uddf4","geohash":"d7q33khwstb17j5z4cf9","qibla":63.02,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716285900,"astronomical":1716281100,"civil":1716284460,"nautical":1716282840},"set":{"apparent":1716332880,"astronomical":1716251280,"civil":1716334260,"nautical":1716335940}},"timezone":{"name":"America/Santo_Domingo","now_in_dst":0,"offset_sec":-14400,"offset_string":"-0400","short_name":"AST"},"what3words":{"words":"sample.gown.masters"}},"bounds":{"northeast":{"lat":18.6840961,"lng":-69.7396328},"southwest":{"lat":18.3640961,"lng":-70.0596328}},"components":{"ISO_3166-1_alpha-2":"DO","ISO_3166-1_alpha-3":"DOM","ISO_3166-2":["DO-32"],"_category":"postcode","_type":"postcode","continent":"North
        America","country":"Dominican Republic","country_code":"do","county":"Santo
        Domingo Norte","postcode":"11206","state":"Santo Domingo"},"confidence":3,"formatted":"Santo
        Domingo, 11206, Dominican Republic","geometry":{"lat":18.5240961,"lng":-69.8996328}},{"annotations":{"DMS":{"lat":"36\u00b0
        7'' 5.22732'''' N","lng":"5\u00b0 28'' 58.27008'''' W"},"MGRS":"30STE7653999904","Maidenhead":"IM76gc28bi","Mercator":{"x":-610348.386,"y":4291698.761},"NUTS":{"NUTS0":{"code":"ES"},"NUTS1":{"code":"ES6"},"NUTS2":{"code":"ES61"},"NUTS3":{"code":"ES612"}},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/36.11812/-5.48285&layers=N","url":"https://www.openstreetmap.org/?mlat=36.11812&mlon=-5.48285#map=17/36.11812/-5.48285"},"UN_M49":{"regions":{"ES":"724","EUROPE":"150","SOUTHERN_EUROPE":"039","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":34,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddea\ud83c\uddf8","geohash":"eykj7ppe232d7x8mesjz","qibla":97.82,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716268380,"astronomical":1716262140,"civil":1716266640,"nautical":1716264480},"set":{"apparent":1716319500,"astronomical":1716325680,"civil":1716321240,"nautical":1716323400}},"timezone":{"name":"Europe/Madrid","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"vibes.dusts.nuzzled"}},"bounds":{"northeast":{"lat":36.2781187,"lng":-5.3228528},"southwest":{"lat":35.9581187,"lng":-5.6428528}},"components":{"ISO_3166-1_alpha-2":"ES","ISO_3166-1_alpha-3":"ESP","ISO_3166-2":["ES-AN","ES-CA"],"_category":"postcode","_normalized_city":"Algeciras","_type":"postcode","city":"Algeciras","continent":"Europe","country":"Spain","country_code":"es","county":"Campo
        de Gibraltar","political_union":"European Union","postcode":"11206","province":"C\u00e1diz","state":"Andalusia","state_code":"AN"},"confidence":3,"formatted":"11206
        Algeciras, Spain","geometry":{"lat":36.1181187,"lng":-5.4828528}},{"annotations":{"DMS":{"lat":"54\u00b0
        41'' 11.16204'''' N","lng":"25\u00b0 25'' 7.84056'''' E"},"MGRS":"35ULA9807261046","Maidenhead":"KO24rq04gr","Mercator":{"x":2829612.841,"y":7266352.373},"NUTS":{"NUTS0":{"code":"LT"},"NUTS1":{"code":"LT0"},"NUTS2":{"code":"LT01"},"NUTS3":{"code":"LT011"}},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/54.68643/25.41884&layers=N","url":"https://www.openstreetmap.org/?mlat=54.68643&mlon=25.41884#map=17/54.68643/25.41884"},"UN_M49":{"regions":{"EUROPE":"150","LT":"440","NORTHERN_EUROPE":"154","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":370,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddf1\ud83c\uddf9","geohash":"u9dp47m7w40k9yc23qge","qibla":156.18,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716257040,"astronomical":0,"civil":1716254040,"nautical":1716335880},"set":{"apparent":1716316020,"astronomical":0,"civil":1716319020,"nautical":1716323700}},"timezone":{"name":"Europe/Vilnius","now_in_dst":1,"offset_sec":10800,"offset_string":"+0300","short_name":"EEST"},"what3words":{"words":"meaning.embodied.parties"}},"bounds":{"northeast":{"lat":54.8464339,"lng":25.5788446},"southwest":{"lat":54.5264339,"lng":25.2588446}},"components":{"ISO_3166-1_alpha-2":"LT","ISO_3166-1_alpha-3":"LTU","ISO_3166-2":["LT-VL","LT-57"],"_category":"postcode","_normalized_city":"Vilnius","_type":"postcode","city":"Vilnius","continent":"Europe","country":"Lithuania","country_code":"lt","political_union":"European
        Union","postcode":"11206","state":"Vilnius County","state_code":"VL","state_district":"Vilnius
        city municipality","suburb":"Naujosios Vilnios seni\u016bnija"},"confidence":4,"formatted":"11206
        Vilnius, Lithuania","geometry":{"lat":54.6864339,"lng":25.4188446}},{"annotations":{"DMS":{"lat":"40\u00b0
        42'' 5.75460'''' N","lng":"73\u00b0 56'' 34.98144'''' W"},"FIPS":{"state":"36"},"MGRS":"18TWL8929106169","Maidenhead":"FN30aq68uj","Mercator":{"x":-8231302.721,"y":4940556.185},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/40.70160/-73.94305&layers=N","url":"https://www.openstreetmap.org/?mlat=40.70160&mlon=-73.94305#map=17/40.70160/-73.94305"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"dr5rt3krfpckhd1drjjp","qibla":58.52,"roadinfo":{"drive_on":"right","speed_in":"mph[...]
- request:
    method: get
    uri: https://api.weather.gov/points/40.7012,-73.9436
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 7650b7
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - 12346c8a
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7012,-73.9436",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.943600000000004,
                    40.7012
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7012,-73.9436",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 35,
                "gridY": 35,
                "forecast": "https://api.weather.gov/gridpoints/OKX/35,35/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/35,35/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/35,35",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/35,35/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -73.938697000000005,
                            40.663468000000002
                        ]
                    },
                    "properties": {
                        "city": "New York",
                        "state": "NY",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 4215.9337395631001
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 354
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ075",
                "county": "https://api.weather.gov/zones/county/NYC047",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ212",
                "timeZone": "America/New_York",
                "radarStation": "KOKX"
            }
        }
  recorded_at: Tue, 21 May 2024 16:09:40 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/35,35/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 236d40af
      X-Server-Id:
      - vm-lnx-nids-apiapp16.ncep.noaa.gov
      X-Edge-Request-Id:
      - 12346d37
    body:
      encoding: UTF-8
      string: |-
        {
            "@context[...]
