---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=1%20Apple%20Park%20Way.%20Cupertino,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2467'
      X-Ratelimit-Reset:
      - '1716422400'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2467,"reset":1716422400},"results":[{"annotations":{"DMS":{"lat":"37\u00b0
        19'' 49.91916'''' N","lng":"122\u00b0 0'' 39.82428'''' W"},"FIPS":{"county":"06085","state":"06"},"MGRS":"10SEG8761031999","Maidenhead":"CM87xh89qh","Mercator":{"x":-13582209.326,"y":4459365.859},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=5062598038#map=17/37.33053/-122.01106","note_url":"https://www.openstreetmap.org/note/new#map=17/37.33053/-122.01106&layers=N","url":"https://www.openstreetmap.org/?mlat=37.33053&mlon=-122.01106#map=17/37.33053/-122.01106"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"9q9href605tzvsxrff55","qibla":19.34,"roadinfo":{"drive_on":"right","road":"Apple
        Park Way","speed_in":"mph"},"sun":{"rise":{"apparent":1716382500,"astronomical":1716376080,"civil":1716380700,"nautical":1716378480},"set":{"apparent":1716347700,"astronomical":1716354120,"civil":1716349500,"nautical":1716351720}},"timezone":{"name":"America/Los_Angeles","now_in_dst":1,"offset_sec":-25200,"offset_string":"-0700","short_name":"PDT"},"what3words":{"words":"nights.order.decks"}},"bounds":{"northeast":{"lat":37.3305831,"lng":-122.0110123},"southwest":{"lat":37.3304831,"lng":-122.0111123}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","ISO_3166-2":["US-CA"],"_category":"building","_normalized_city":"Cupertino","_type":"building","city":"Cupertino","continent":"North
        America","country":"United States","country_code":"us","county":"Santa Clara
        County","house_number":"1","postcode":"94087","road":"Apple Park Way","state":"California","state_code":"CA"},"confidence":10,"formatted":"1
        Apple Park Way, Cupertino, CA 94087, United States of America","geometry":{"lat":37.3305331,"lng":-122.0110623}},{"annotations":{"DMS":{"lat":"37\u00b0
        20'' 1.31136'''' N","lng":"122\u00b0 0'' 40.79484'''' W"},"FIPS":{"county":"06085","state":"06"},"MGRS":"10SEG8758332349","Maidenhead":"CM87xi80pc","Mercator":{"x":-13582239.338,"y":4459807.013},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=5055072366#map=17/37.33370/-122.01133","note_url":"https://www.openstreetmap.org/note/new#map=17/37.33370/-122.01133&layers=N","url":"https://www.openstreetmap.[...]
