---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2491'
      X-Ratelimit-Reset:
      - '1717632000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2491,"reset":1717632000},"results":[{"annotations":{"DMS":{"lat":"39\u00b0
        30'' 2.65536'''' N","lng":"6\u00b0 24'' 20.84292'''' W"},"MGRS":"29SQD2305975559","Maidenhead":"IM69tm10he","Mercator":{"x":-713089.246,"y":4766469.833},"NUTS":{"NUTS0":{"code":"ES"},"NUTS1":{"code":"ES4"},"NUTS2":{"code":"ES43"},"NUTS3":{"code":"ES432"}},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=14450043#map=17/39.50074/-6.40579","note_url":"https://www.openstreetmap.org/note/new#map=17/39.50074/-6.40579&layers=N","url":"https://www.openstreetmap.org/?mlat=39.50074&mlon=-6.40579#map=17/39.50074/-6.40579"},"UN_M49":{"regions":{"ES":"724","EUROPE":"150","SOUTHERN_EUROPE":"039","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":34,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddea\ud83c\uddf8","geohash":"ez52wnzkqr1n23s34zbe","qibla":100.76,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717563600,"astronomical":1717556520,"civil":1717561680,"nautical":1717559280},"set":{"apparent":1717616940,"astronomical":1717624020,"civil":1717618860,"nautical":1717621260}},"timezone":{"name":"Europe/Madrid","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"mods.defects.powered"}},"bounds":{"northeast":{"lat":39.5007876,"lng":-6.4057397},"southwest":{"lat":39.5006876,"lng":-6.4058397}},"components":{"ISO_3166-1_alpha-2":"ES","ISO_3166-1_alpha-3":"ESP","ISO_3166-2":["ES-EX","ES-CC"],"_category":"place","_normalized_city":"C\u00e1ceres","_type":"city","city":"C\u00e1ceres","continent":"Europe","country":"Spain","country_code":"es","political_union":"European
        Union","postcode":"10001","province":"C\u00e1ceres","state":"Extremadura","state_code":"EX"},"confidence":9,"formatted":"C\u00e1ceres,
        Extremadura, Spain","geometry":{"lat":39.5007376,"lng":-6.4057897}},{"annotations":{"DMS":{"lat":"40\u00b0
        44'' 54.24000'''' N","lng":"73\u00b0 59'' 48.12000'''' W"},"FIPS":{"county":"36061","state":"36"},"MGRS":"18TWL8469911311","Maidenhead":"FN30ar09jo","Mercator":{"x":-8237274.964,"y":4947404.291},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/40.74840/-73.99670&layers=N","url":"https://www.openstreetmap.org/?mlat=40.74840&mlon=-73.99670#map=17/40.74840/-73.99670"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"dr5ru4j0xum65gdrfmu9","qibla":58.49,"roadinfo":{"drive_on":"right","speed_in":"mph"},"sun":{"rise":{"apparent":1717579560,"astronomical":1717572180,"civil":1717577640,"nautical":1717575120},"set":{"apparent":1717546980,"astronomical":1717554420,"civil":1717548960,"nautical":1717551480}},"timezone":{"name":"America/New_York","now_in_dst":1,"offset_sec":-14400,"offset_string":"-0400","short_name":"EDT"},"what3words":{"words":"apple.stow.broad"}},"bounds":{"northeast":{"lat":40.759731,"lng":-73.984076},"southwest":{"lat":40.743451,"lng":-74.008621}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","ISO_3166-2":["US-NY"],"_category":"postcode","_type":"postcode","continent":"North
        America","country":"United States of America","country_code":"us","county":"New
        York","postcode":"10001","state":"New York","state_code":"NY"},"confidence":7,"formatted":"New
        York, NY 10001, United States of America","geometry":{"lat":40.7484,"lng":-73.9967}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 05 Jun 2024 19:04:26
        GMT","created_unix":1717614266},"total_results":2}'
  recorded_at: Wed, 05 Jun 2024 19:04:26 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/40.7484,-73.9967
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 94a1d2a
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 7c3a30c
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7483999,-73.9967",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.996700000000004,
                    40.748399900000003
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7483999,-73.9967",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 33,
                "gridY": 37,
                "forecast": "https://api.weather.gov/gridpoints/OKX/33,37/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/33,37/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/33,37",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/33,37/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -74.0279259,
                            40.745251000000003
                        ]
                    },
                    "properties": {
                        "city": "Hoboken",
                        "state": "NJ",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 2653.7183696678999
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 82
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ072",
                "county": "https://api.weather.gov/zones/county/NYC061",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ212",
                "timeZone": "America/New_York",
                "radarStation": "KDIX"
            }
        }
  recorded_at: Wed, 05 Jun 2024 19:04:27 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/33,37/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - '6884206'
      X-Server-Id:
      - vm-bldr-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - 7c3a402
    body:
      encoding: UTF-8
      string: |-
        {
            "@[...]
