---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=10008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2486'
      X-Ratelimit-Reset:
      - '1716422400'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2486,"reset":1716422400},"results":[{"annotations":{"DMS":{"lat":"25\u00b0
        2'' 37.61592'''' N","lng":"121\u00b0 30'' 47.95524'''' E"},"MGRS":"51RUH5002170619","Maidenhead":"PL05sb10om","Mercator":{"x":13526801.007,"y":2863041.626},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/25.04378/121.51332&layers=N","url":"https://www.openstreetmap.org/?mlat=25.04378&mlon=121.51332#map=17/25.04378/121.51332"},"UN_M49":{"regions":{"ASIA":"142","EASTERN_ASIA":"030","TW":"158","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":886,"currency":{"alternate_symbols":["NT$"],"decimal_mark":".","disambiguate_symbol":"NT$","html_entity":"$","iso_code":"TWD","iso_numeric":"901","name":"New
        Taiwan Dollar","smallest_denomination":50,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddf9\ud83c\uddfc","geohash":"wsqqmp569e75vu765m20","qibla":286.56,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716412080,"astronomical":1716406920,"civil":1716410580,"nautical":1716408780},"set":{"apparent":1716374040,"astronomical":1716379200,"civil":1716375540,"nautical":1716377340}},"timezone":{"name":"Asia/Taipei","now_in_dst":0,"offset_sec":28800,"offset_string":"+0800","short_name":"CST"},"what3words":{"words":"mashing.whom.excuse"}},"bounds":{"northeast":{"lat":25.2037822,"lng":121.6733209},"southwest":{"lat":24.8837822,"lng":121.3533209}},"components":{"ISO_3166-1_alpha-2":"TW","ISO_3166-1_alpha-3":"TWN","ISO_3166-2":["TW-TPE"],"_category":"postcode","_normalized_city":"Taipei","_type":"postcode","city":"Taipei","continent":"Asia","country":"Taiwan","country_code":"tw","postcode":"10008","suburb":"Zhongzheng
        District"},"confidence":3,"formatted":"Taiwan, 10008, Taipei Zhongzheng District","geometry":{"lat":25.0437822,"lng":121.5133209}},{"annotations":{"DMS":{"lat":"50\u00b0
        15'' 13.40388'''' N","lng":"28\u00b0 40'' 48.67464'''' E"},"MGRS":"35UPR1977668191","Maidenhead":"KO40ig10ov","Mercator":{"x":3192663.852,"y":6457459.813},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/50.25372/28.68019&layers=N","url":"https://www.openstreetmap.org/?mlat=50.25372&mlon=28.68019#map=17/50.25372/28.68019"},"UN_M49":{"regions":{"EASTERN_EUROPE":"151","EUROPE":"150","UA":"804","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":380,"currency":{"alternate_symbols":[],"decimal_mark":".","format":"%n
        %u","html_entity":"&#x20B4;","iso_code":"UAH","iso_numeric":"980","name":"Ukrainian
        Hryvnia","smallest_denomination":1,"subunit":"Kopiyka","subunit_to_unit":100,"symbol":"\u20b4","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\udde6","geohash":"u8umuskm0v18w0pdme74","qibla":159,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716343800,"astronomical":1716419160,"civil":1716341340,"nautical":1716337980},"set":{"apparent":1716400440,"astronomical":1716411720,"civil":1716402960,"nautical":1716406380}},"timezone":{"name":"Europe/Kyiv","now_in_dst":1,"offset_sec":10800,"offset_string":"+0300","short_name":"EEST"},"what3words":{"words":"moats.snacking.that"}},"bounds":{"northeast":{"lat":50.4137233,"lng":28.8401874},"southwest":{"lat":50.0937233,"lng":28.5201874}},"components":{"ISO_3166-1_alpha-2":"UA","ISO_3166-1_alpha-3":"UKR","ISO_3166-2":["UA-18"],"_category":"postcode","_normalized_city":"Zhytomyr","_type":"postcode","borough":"Koroliovskyi
        Raion","city":"Zhytomyr","continent":"Europe","country":"Ukraine","country_code":"ua","district":"Zhytomyr
        Raion","municipality":"Zhytomyr Urban Hromada","postcode":"10008","state":"Zhytomyr
        Oblast","suburb":"\u041f\u0443\u0442\u044f\u0442\u0438\u043d\u043a\u0430"},"confidence":4,"formatted":"\u041f\u0443\u0442\u044f\u0442\u0438\u043d\u043a\u0430,
        Zhytomyr, Zhytomyr Oblast, 10008, Ukraine","geometry":{"lat":50.2537233,"lng":28.6801874}},{"annotations":{"DMS":{"lat":"40\u00b0
        42'' 44.68932'''' N","lng":"74\u00b0 0'' 37.64952'''' W"},"FIPS":{"county":"36061","state":"36"},"MGRS":"18TWL8358307303","Maidenhead":"FN20xr80rx","Mercator":{"x":-8238806.52,"y":4942138.264},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/40.71241/-74.01046&layers=N","url":"https://www.openstreetmap.org/?mlat=40.71241&mlon=-74.01046#map=17/40.71241/-74.01046"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"dr5reg7nzrfx2rhr2ttt","qibla":58.48,"roadinfo":{"drive_on":"right","speed_in":"mph"},"sun":{"rise":{"apparent":1716370440,"astronomical":1716363420,"civil":1716368520,"nautical":1716366120},"set":{"apparent":1716336720,"astronomical":1716343740,"civil":1716338640,"nautical":1716341040}},"timezone":{"name":"America/New_York","now_in_dst":1,"offset_sec":-14400,"offset_string":"-0400","short_name":"EDT"},"what3words":{"words":"lunch.rungs.much"}},"bounds":{"northeast":{"lat":40.8724137,"lng":-73.8504582},"southwest":{"lat":40.5524137,"lng":-74.1704582}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","ISO_3166-2":["US-NY"],"_category":"postcode","_normalized_city":"New
        York","_type":"postcode","borough":"Manhattan","city":"New York","continent":"North
        America","country":"United States","country_code":"us","county":"New York
        County","postcode":"10008","state":"New York","state_code":"NY"},"confidence":3,"formatted":"New
        York, NY 10008, United States of America","geometry":{"lat":40.7124137,"lng":-74.0104582}},{"annotations":{"DMS":{"lat":"53\u00b0
        56'' 42.51516'''' N","lng":"20\u00b0 10'' 31.65348'''' E"},"MGRS":"34UDE4588177733","Maidenhead":"KO03cw16bu","Mercator":{"x":2245921.856,"y":7125204.315},"NUTS":{"NUTS0":{"code":"PL"},"NUTS1":{"code":"PL6"},"NUTS2":{"code":"PL62"},"NUTS3":{"code":"PL622"}},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/53.94514/20.17546&layers=N","url":"https://www.openstreetmap.org/?mlat=53.94514&mlon=20.17546#map=17/53.94514/20.17546"},"UN_M49":{"regions":{"EASTERN_EUROPE":"151","EUROPE":"150","PL":"616","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":48,"currency":{"alternate_symbols":[],"decimal_mark":",","format":"%n
        %u","html_entity":"z&#322;","iso_code":"PLN","iso_numeric":"985","name":"Polish
        Z\u0142oty","smallest_denomination":1,"subunit":"Grosz","subunit_to_unit":100,"symbol":"z\u0142","symbol_first":0,"thousands_separator":"
        "},"flag":"\ud83c\uddf5\ud83c\uddf1","geohash":"u3w6gh7m4r8c43mqk2bj","qibla":147.63,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716344820,"astronomical":0,"civil":1716341940,"nautical":1716337620},"set":{"apparent":1716403560,"astronomical":0,"civil":1716406440,"nautical":1716410880}},"timezone":{"name":"Europe/Warsaw","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"operatives.greets.earning"}},"bounds":{"northeast":{"lat":54.1051431,"lng":20.3354593},"southwest":{"lat":53.7851431,"lng":20.0154593}},"components":{"ISO_3166-1_alpha-2":"PL","ISO_3166-1_alpha-3":"POL","ISO_3166-2":["PL-28"],"_category":"postcode","_normalized_city":"gmina
        \u015awi\u0105tki","_type":"postcode","continent":"Europe","country":"Poland","country_code":"pl","county":"Olsztyn
        County","municipality":"gmina \u015awi\u0105tki","political_union":"European
        Union","postcode":"10-008","state":"Warmian-Masurian Voivodeship","state_code":"28"},"confidence":4,"formatted":"10-008
        gmina \u015awi\u0105tki, Poland","geometry":{"lat":53.9451431,"lng":20.1754593}},{"annotations":{"DMS":{"lat":"40\u00b0
        46'' 50.88000'''' N","lng":"73\u00b0 58'' 37.92000'''' W"},"FIPS":{"county":"36061","state":"36"},"MGRS":"18TWL8630414927","Maidenhead":"FN30as27rj","Mercator":{"x":-8235104.234,"y":4952147.977},"OSM":{"note_url":"https://www.[...]
- request:
    method: get
    uri: https://api.weather.gov/points/40.7808,-73.9772
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 2fab231
      X-Server-Id:
      - vm-lnx-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 252545cc
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7808,-73.9772",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.977199999999996,
                    40.780799999999999
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7808,-73.9772",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 34,
                "gridY": 38,
                "forecast": "https://api.weather.gov/gridpoints/OKX/34,38/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/34,38/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/34,38",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/34,38/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -74.004571999999996,
                            40.792783999999997
                        ]
                    },
                    "properties": {
                        "city": "Guttenberg",
                        "state": "NJ",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 2662.0133801425
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 120
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ072",
                "county": "https://api.weather.gov/zones/county/NYC061",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ212",
                "timeZone": "America/New_York",
                "radarStation": "KOKX"
            }
        }
  recorded_at: Wed, 22 May 2024 01:45:42 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/34,38/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 56120a85
      X-Server-Id:
      - vm-lnx-nids-apiapp15.ncep.noaa.gov
      X-Edge-Request-Id:
      - 2525477b
    body:
      encoding: UTF-8
      string: |-
        {
            "@context[...]
