---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/40.717089,-73.957901
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/40.7171,-73.9579"
      X-Correlation-Id:
      - 29c8840
      X-Server-Id:
      - vm-lnx-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3888ecee
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "29c8840",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/29c8840"
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/40.7171,-73.9579
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 537f08e
      X-Server-Id:
      - vm-lnx-nids-apiapp16.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3888edc4
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7171,-73.9579",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.957899999999995,
                    40.717100000000002
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7171,-73.9579",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 35,
                "gridY": 35,
                "forecast": "https://api.weather.gov/gridpoints/OKX/35,35/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/35,35/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/35,35",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/35,35/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -73.938697000000005,
                            40.663468000000002
                        ]
                    },
                    "properties": {
                        "city": "New York",
                        "state": "NY",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 6179.4878515201999
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 344
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ075",
                "county": "https://api.weather.gov/zones/county/NYC047",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ212",
                "timeZone": "America/New_York",
                "radarStation": "KOKX"
            }
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/35,35/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 3bbbb26a
      X-Server-Id:
      - vm-lnx-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3888f059
    body:
      encoding: UTF-8
      string: |-
        {
            "@context[...]
