---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/34.01009,-118.496948
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/34.0101,-118.4969"
      X-Correlation-Id:
      - 3141aa0
      X-Server-Id:
      - vm-bldr-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - 309cb254
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "3141aa0",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/3141aa0"
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/34.0101,-118.4969
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 17d5248
      X-Server-Id:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 309cb580
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/34.0101,-118.4969",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -118.4969,
                    34.010100000000001
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/34.0101,-118.4969",
                "@type": "wx:Point",
                "cwa": "LOX",
                "forecastOffice": "https://api.weather.gov/offices/LOX",
                "gridId": "LOX",
                "gridX": 146,
                "gridY": 45,
                "forecast": "https://api.weather.gov/gridpoints/LOX/146,45/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/LOX/146,45/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/LOX/146,45",
                "observationStations": "https://api.weather.gov/gridpoints/LOX/146,45/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -118.481666,
                            34.023412999999998
                        ]
                    },
                    "properties": {
                        "city": "Santa Monica",
                        "state": "CA",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 2040.2973021371999
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 223
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/CAZ366",
                "county": "https://api.weather.gov/zones/county/CAC037",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/CAZ366",
                "timeZone": "America/Los_Angeles",
                "radarStation": "KVTX"
            }
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/LOX/146,45/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 3141d53
      X-Server-Id:
      - vm-bldr-nids-apiapp14.ncep.noaa.gov
      X-Edge-Request-Id:
      - 309cbbe5
    body:
      encoding: UTF-8
      string: |-
        {
            "[...]
