---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/30.19,-97.6687
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 429ba2c
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 308feab0
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/30.19,-97.6687",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -97.668700000000001,
                    30.190000000000001
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/30.19,-97.6687",
                "@type": "wx:Point",
                "cwa": "EWX",
                "forecastOffice": "https://api.weather.gov/offices/EWX",
                "gridId": "EWX",
                "gridX": 159,
                "gridY": 87,
                "forecast": "https://api.weather.gov/gridpoints/EWX/159,87/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/EWX/159,87/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/EWX/159,87",
                "observationStations": "https://api.weather.gov/gridpoints/EWX/159,87/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -97.583273000000005,
                            30.244959999999999
                        ]
                    },
                    "properties": {
                        "city": "Hornsby Bend",
                        "state": "TX",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 10233.505389246
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 233
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/TXZ192",
                "county": "https://api.weather.gov/zones/county/TXC453",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/TXZ192",
                "timeZone": "America/Chicago",
                "radarStation": "KEWX"
            }
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/EWX/159,87/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 429bf0c
      X-Server-Id:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
      X-Edge-Request-Id:
      - 308ff371
    body:
      encoding: UTF-8
      string: |-
        {
            "@[...]
