---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/40.71772,-73.95756
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/40.7177,-73.9576"
      X-Correlation-Id:
      - 39265b19
      X-Server-Id:
      - vm-bldr-nids-apiapp15.ncep.noaa.gov
      X-Edge-Request-Id:
      - 59538b52
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "39265b19",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/39265b19"
        }
  recorded_at: Wed, 05 Jun 2024 17:30:38 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/40.7177,-73.9576
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 39266e82
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 59538f61
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7177,-73.9576",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.957599999999999,
                    40.717700000000001
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7177,-73.9576",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 35,
                "gridY": 35,
                "forecast": "https://api.weather.gov/gridpoints/OKX/35,35/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/35,35/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/35,35",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/35,35/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -73.938697000000005,
                            40.663468000000002
                        ]
                    },
                    "properties": {
                        "city": "New York",
                        "state": "NY",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 6237.3858898681001
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 345
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ075",
                "county": "https://api.weather.gov/zones/county/NYC047",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ212",
                "timeZone": "America/New_York",
                "radarStation": "KOKX"
            }
        }
  recorded_at: Wed, 05 Jun 2024 17:30:39 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/35,35/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 392672b7
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 595393b5
    body:
      encoding: UTF-8
      string: |-
        {
            "@[...]
