---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=95013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2487'
      X-Ratelimit-Reset:
      - '1717632000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2487,"reset":1717632000},"results":[{"annotations":{"DMS":{"lat":"29\u00b0
        9'' 51.51600'''' S","lng":"51\u00b0 12'' 0.61200'''' W"},"MGRS":"22JDN8053473793","Maidenhead":"GG40ju50xn","Mercator":{"x":-5699576.853,"y":-3375757.396},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/-29.16431/-51.20017&layers=N","url":"https://www.openstreetmap.org/?mlat=-29.16431&mlon=-51.20017#map=16/-29.16431/-51.20017"},"UN_M49":{"regions":{"AMERICAS":"019","BR":"076","LATIN_AMERICA":"419","SOUTH_AMERICA":"005","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":55,"currency":{"decimal_mark":",","html_entity":"R$","iso_code":"BRL","iso_numeric":"986","name":"Brazilian
        Real","smallest_denomination":5,"subunit":"Centavo","subunit_to_unit":100,"symbol":"R$","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\udde7\ud83c\uddf7","geohash":"6fgd4fv1tdd4m5x1jw7m","qibla":71.53,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717582440,"astronomical":1717577400,"civil":1717580880,"nautical":1717579140},"set":{"apparent":1717619580,"astronomical":1717624620,"civil":1717621140,"nautical":1717622880}},"timezone":{"name":"America/Sao_Paulo","now_in_dst":0,"offset_sec":-10800,"offset_string":"-0300","short_name":"BRT"},"what3words":{"words":"embedded.then.ordinary"}},"bounds":{"northeast":{"lat":-29.00431,"lng":-51.04017},"southwest":{"lat":-29.32431,"lng":-51.36017}},"components":{"ISO_3166-1_alpha-2":"BR","ISO_3166-1_alpha-3":"BRA","ISO_3166-2":["BR-RS"],"_category":"postcode","_normalized_city":"Caxias
        do Sul","_type":"postcode","city":"Caxias do Sul","city_district":"Primeiro
        Distrito","continent":"South America","country":"Brazil","country_code":"br","municipality":"Regi\u00e3o
        Geogr\u00e1fica Imediata de Caxias do Sul","postcode":"95013","region":"South
        Region","state":"Rio Grande do Sul","state_code":"RS","state_district":"Regi\u00e3o
        Geogr\u00e1fica Intermedi\u00e1ria de Caxias do Sul","suburb":"Marechal Floriano"},"confidence":3,"formatted":"Marechal
        Floriano, Caxias do Sul - RS, 95013, Brazil","geometry":{"lat":-29.16431,"lng":-51.20017}},{"annotations":{"DMS":{"lat":"37\u00b0
        47'' 9.97908'''' N","lng":"15\u00b0 12'' 23.15304'''' E"},"MGRS":"33SWB1817682103","Maidenhead":"JM77os48sp","Mercator":{"x":1692772.2,"y":4523070.103},"NUTS":{"NUTS0":{"code":"IT"},"NUTS1":{"code":"ITG"},"NUTS2":{"code":"ITG1"},"NUTS3":{"code":"ITG17"}},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/37.78611/15.20643&layers=N","url":"https://www.openstreetmap.org/?mlat=37.78611&mlon=15.20643#map=16/37.78611/15.20643"},"UN_M49":{"regions":{"EUROPE":"150","IT":"380","SOUTHERN_EUROPE":"039","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":39,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddee\ud83c\uddf9","geohash":"sqdyfnbbp891fmsu0yg4","qibla":120.66,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717558740,"astronomical":1717551960,"civil":1717556880,"nautical":1717554600},"set":{"apparent":1717611420,"astronomical":1717618200,"civil":1717613280,"nautical":1717615560}},"timezone":{"name":"Europe/Rome","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"proprietary.comedy.summoned"}},"bounds":{"northeast":{"lat":37.9461053,"lng":15.3664314},"southwest":{"lat":37.6261053,"lng":15.0464314}},"components":{"ISO_3166-1_alpha-2":"IT","ISO_3166-1_alpha-3":"ITA","ISO_3166-2":["IT-82","IT-CT"],"_category":"postcode","_normalized_city":"Fiumefreddo
        di Sicilia","_type":"postcode","continent":"Europe","country":"Italy","country_code":"it","county":"Catania","county_code":"CT","political_union":"European
        Union","postcode":"95013","state":"Sicily","village":"Fiumefreddo di Sicilia"},"confidence":3,"formatted":"95013
        Fiumefreddo di Sicilia CT, Italy","geometry":{"lat":37.7861053,"lng":15.2064314}},{"annotations":{"DMS":{"lat":"37\u00b0
        13'' 2.16228'''' N","lng":"121\u00b0 44'' 22.82712'''' W"},"FIPS":{"county":"06085","state":"06"},"MGRS":"10SFG1182119718","Maidenhead":"CM97df12fd","Mercator":{"x":-13551998.54,"y":4443588.134},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/37.21727/-121.73967&layers=N","url":"https://www.openstreetmap.org/?mlat=37.21727&mlon=-121.73967#map=16/37.21727/-121.73967"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"9q97txpy7crx469vmdhx","qibla":19.64,"roadinfo":{"drive_on":"right","speed_in":"mph"},"sun":{"rise":{"apparent":1717591680,"astronomical":1717585020,"civil":1717589880,"nautical":1717587600},"set":{"apparent":1717557840,"astronomical":1717564500,"civil":1717559640,"nautical":1717561920}},"timezone":{"name":"America/Los_Angeles","now_in_dst":1,"offset_sec":-25200,"offset_string":"-0700","short_name":"PDT"},"what3words":{"words":"closely.plenty.welcome"}},"bounds":{"northeast":{"lat":37.3772673,"lng":-121.5796742},"southwest":{"lat":37.0572673,"lng":-121.8996742}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","ISO_3166-2":["US-CA"],"_category":"postcode","_type":"postcode","continent":"North
        America","country":"United States","country_code":"us","county":"Santa Clara
        County","postcode":"95013","state":"California","state_code":"CA"},"confidence":3,"formatted":"Santa
        Clara County, CA 95013, United States of America","geometry":{"lat":37.2172673,"lng":-121.7396742}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 05 Jun 2024 19:07:17
        GMT","created_unix":1717614437},"total_results":3}'
  recorded_at: Wed, 05 Jun 2024 19:07:17 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/37.2172673,-121.7396742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/37.2173,-121.7397"
      X-Correlation-Id:
      - e467629
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 59f5cd5b
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "e467629",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/e467629"
        }
  recorded_at: Wed, 05 Jun 2024 19:07:18 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/37.2173,-121.7397
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 3ed0e6ae
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 59f5cf36
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/37.2173,-121.7397",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -121.7397,
                    37.217300000000002
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/37.2173,-121.7397",
                "@type": "wx:Point",
                "cwa": "MTR",
                "forecastOffice": "https://api.weather.gov/offices/MTR",
                "gridId": "MTR",
                "gridX": 103,
                "gridY": 76,
                "forecast": "https://api.weather.gov/gridpoints/MTR/103,76/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/MTR/103,76/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/MTR/103,76",
                "observationStations": "https://api.weather.gov/gridpoints/MTR/103,76/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -121.818909,
                            37.296739000000002
                        ]
                    },
                    "properties": {
                        "city": "San Jose",
                        "state": "CA",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 11276.947106979
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 141
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/CAZ513",
                "county": "https://api.weather.gov/zones/county/CAC085",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/CAZ513",
                "timeZone": "America/Los_Angeles",
                "radarStation": "KMUX"
            }
        }
  recorded_at: Wed, 05 Jun 2024 19:07:18 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/MTR/103,76/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 55ec2e14
      X-Server-Id:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 59f5d0f4
    body:
      encoding: UTF-8
      string: |-
        {
            [...]
