---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=11001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2210'
      X-Ratelimit-Reset:
      - '1716336000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2210,"reset":1716336000},"results":[{"annotations":{"DMS":{"lat":"9\u00b0
        54'' 9.72252'''' N","lng":"84\u00b0 6'' 3.50928'''' W"},"MGRS":"16PHR1794296038","Maidenhead":"EJ79wv76vp","Mercator":{"x":-9362077.69,"y":1100549.777},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/9.90270/-84.10097&layers=N","url":"https://www.openstreetmap.org/?mlat=9.90270&mlon=-84.10097#map=17/9.90270/-84.10097"},"UN_M49":{"regions":{"AMERICAS":"019","CENTRAL_AMERICA":"013","CR":"188","LATIN_AMERICA":"419","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":506,"currency":{"alternate_symbols":["\u00a2"],"decimal_mark":",","html_entity":"&#x20A1;","iso_code":"CRC","iso_numeric":"188","name":"Costa
        Rican Col\u00f3n","smallest_denomination":500,"subunit":"C\u00e9ntimo","subunit_to_unit":100,"symbol":"\u20a1","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\udde8\ud83c\uddf7","geohash":"d1u0q4xx3jpyxgytup4w","qibla":59.82,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1716290160,"astronomical":1716285600,"civil":1716288780,"nautical":1716287220},"set":{"apparent":1716335460,"astronomical":1716253560,"civil":1716250380,"nautical":1716252000}},"timezone":{"name":"America/Costa_Rica","now_in_dst":0,"offset_sec":-21600,"offset_string":"-0600","short_name":"CST"},"what3words":{"words":"melons.shrimps.served"}},"bounds":{"northeast":{"lat":10.0627007,"lng":-83.9409748},"southwest":{"lat":9.7427007,"lng":-84.2609748}},"components":{"ISO_3166-1_alpha-2":"CR","ISO_3166-1_alpha-3":"CRI","ISO_3166-2":["CR-SJ"],"_category":"postcode","_normalized_city":"Alajuelita","_type":"postcode","continent":"North
        America","country":"Costa Rica","country_code":"cr","county":"Cant\u00f3n
        Alajuelita","postcode":"11001","province":"San Jose Province","state":"San
        Jose Province","town":"Alajuelita"},"confidence":3,"formatted":"San Jose Province,
        Alajuelita, 11001 Costa Rica","geometry":{"lat":9.9027007,"lng":-84.1009748}},{"annotations":{"DMS":{"lat":"27\u00b0
        28'' 1.53048'''' N","lng":"89\u00b0 38'' 29.33304'''' E"},"MGRS":"45RYL6103740948","Maidenhead":"NL47tl62xc","Mercator":{"x":9978844.061,"y":3162247.696},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/27.46709/89.64148&layers=N","url":"https://www.openstreetmap.org/?mlat=27.46709&mlon=89.64148#map=17/27.46709/89.64148"},"UN_M49":{"regions":{"ASIA":"142","BT":"064","SOUTHERN_ASIA":"034","WORLD":"001"},"statistical_groupings":["LDC","LEDC","LLDC"]},"callingcode":975,"currency":{"alternate_symbols":["Nu"],"decimal_mark":".","format":"%n
        %u","html_entity":"","iso_code":"BTN","iso_numeric":"064","name":"Bhutanese
        Ngultrum","smallest_denomination":5,"subunit":"Chertrum","subunit_to_unit":100,"symbol":"Nu.","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\udde7\ud83c\uddf9","geohash":"tuzsrb4zmvj0ukwx43np","qibla":273.78,"roadinfo":{"drive_on":"left","speed_in":"km/h"},"sun":{"rise":{"apparent":1716333060,"astronomical":1716327780,"civil":1716331500,"nautical":1716329700},"set":{"apparent":1716295500,"astronomical":1716300840,"civil":1716297060,"nautical":1716298920}},"timezone":{"name":"Asia/Thimphu","now_in_dst":0,"offset_sec":21600,"offset_string":"+0600","short_name":6},"what3words":{"words":"jumped.cautions.wangle"}},"bounds":{"northeast":{"lat":27.6270918,"lng":89.8014814},"southwest":{"lat":27.3070918,"lng":89.4814814}},"components":{"ISO_3166-1_alpha-2":"BT","ISO_3166-1_alpha-3":"BTN","ISO_3166-2":["BT-15"],"_category":"postcode","_type":"postcode","continent":"Asia","country":"Bhutan","country_code":"bt","county":"Chang
        Gewog","postcode":"11001","state":"Thimphu District","state_district":"Thimphu"},"confidence":3,"formatted":"Thimphu
        District 11001, Bhutan","geometry":{"lat":27.4670918,"lng":89.6414814}},{"annotations":{"DMS":{"lat":"27\u00b0
        25'' 8.61060'''' N","lng":"2\u00b0 30'' 21.48120'''' E"},"MGRS":"31RDL5116732948","Maidenhead":"JL17gk00rn","Mercator":{"x":278962.966,"y":3156254.456},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/27.41906/2.50597&layers=N","url":"https://www.openstreetmap.org/?mlat=27.41906&mlon=2.50597#map=17/27.41906/2.50597"},"UN_M49":{"regions":{"AFRICA":"002","DZ":"012","NORTHERN_AFRICA":"015","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":213,"currency":{"alternate_symbols":["DA"],"decimal_mark":".","format":"%n
        %u","html_entity":"","iso_code":"DZD","iso_numeric":"012","name":"Algerian
        Dinar","smallest_denomination":100,"subunit":"Centime","subunit_to_unit":100,"symbol":"\u062f.\u062c","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\udde9\ud83c\uddff","geohash":"shcgcp2z96bquc8x13u3","qibla":91.69,"roadinfo":{"drive_on":"right","speed_[...]
- request:
    method: get
    uri: https://api.weather.gov/points/40.7242125,-73.7063452
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/40.7242,-73.7063"
      X-Correlation-Id:
      - 1146b28
      X-Server-Id:
      - vm-lnx-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3b66daf9
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "1146b28",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/1146b28"
        }
  recorded_at: Tue, 21 May 2024 19:54:41 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/40.7242,-73.7063
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 93b962
      X-Server-Id:
      - vm-lnx-nids-apiapp16.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3b66db8c
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7242,-73.7063",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.706299999999999,
                    40.724200000000003
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7242,-73.7063",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 43,
                "gridY": 37,
                "forecast": "https://api.weather.gov/gridpoints/OKX/43,37/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/43,37/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/43,37",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/43,37/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -73.702824000000007,
                            40.721952000000002
                        ]
                    },
                    "properties": {
                        "city": "Floral Park",
                        "state": "NY",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 385.08458455131
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 310
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ179",
                "county": "https://api.weather.gov/zones/county/NYC059",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ213",
                "timeZone": "America/New_York",
                "radarStation": "KOKX"
            }
        }
  recorded_at: Tue, 21 May 2024 19:54:41 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/43,37/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 2194e17
      X-Server-Id:
      - vm-lnx-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3b66dd15
    body:
      encoding: UTF-8
      string: |-
        {
            "@context"[...]
