---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=34343
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2495'
      X-Ratelimit-Reset:
      - '1717632000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2495,"reset":1717632000},"results":[{"annotations":{"DMS":{"lat":"45\u00b0
        16'' 58.36260'''' N","lng":"75\u00b0 50'' 55.51404'''' W"},"MGRS":"18TVR3343514725","Maidenhead":"FN25bg87dv","Mercator":{"x":-8443444.661,"y":5635790.641},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=171414962#map=16/45.28288/-75.84875","note_url":"https://www.openstreetmap.org/note/new#map=16/45.28288/-75.84875&layers=N","url":"https://www.openstreetmap.org/?mlat=45.28288&mlon=-75.84875#map=16/45.28288/-75.84875"},"UN_M49":{"regions":{"AMERICAS":"019","CA":"124","NORTHERN_AMERICA":"021","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["C$","CAD$"],"decimal_mark":".","disambiguate_symbol":"C$","html_entity":"$","iso_code":"CAD","iso_numeric":"124","name":"Canadian
        Dollar","smallest_denomination":5,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\udde8\ud83c\udde6","geohash":"f241d52xgumuk2vtygk2","qibla":57.06,"roadinfo":{"drive_on":"right","road":"Tandalee
        Crescent","speed_in":"km/h"},"sun":{"rise":{"apparent":1717579080,"astronomical":1717570140,"civil":1717576860,"nautical":1717573920},"set":{"apparent":1717548420,"astronomical":1717557420,"civil":1717550640,"nautical":1717553580}},"timezone":{"name":"America/Toronto","now_in_dst":1,"offset_sec":-14400,"offset_string":"-0400","short_name":"EDT"},"what3words":{"words":"maintenance.bypassed.scrap"}},"bounds":{"northeast":{"lat":45.2831911,"lng":-75.8484134},"southwest":{"lat":45.282566,"lng":-75.8490944}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","ISO_3166-2":["CA-ON"],"_category":"outdoors/recreation","_normalized_city":"Ottawa","_type":"pitch","city":"Ottawa","city_district":"Kanata
        South","continent":"North America","country":"Canada","country_code":"ca","pitch":34343,"postcode":"K2M
        3B5","road":"Tandalee Crescent","state":"Ontario","state_code":"ON","state_district":"Eastern
        Ontario","suburb":"Kanata"},"confidence":9,"formatted":"34343, Tandalee Crescent,
        Ottawa, ON K2M 3B5, Canada","geometry":{"lat":45.2828785,"lng":-75.8487539}},{"annotations":{"DMS":{"lat":"39\u00b0
        45'' 12.52188'''' N","lng":"105\u00b0 0'' 2.56320'''' W"},"FIPS":{"state":"08"},"MGRS":"13SDE9993900396","Maidenhead":"DM79ls90vu","Mercator":{"x":-11688625.793,"y":4802853.313},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=3245022426#map=16/39.75348/-105.00071","note_url":"https://www.openstreetmap.org/note/new#map=16/39.75348/-105.00071&layers=N","url":"https://www.openstreetmap.org/?mlat=39.75348&mlon=-105.00071#map=16/39.75348/-105.00071"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"9xj64suuf16rj8jcj3gm","qibla":34.95,"roadinfo":{"drive_on":"right","road":"Wewatta
        Street","speed_in":"mph"},"sun":{"rise":{"apparent":1717587240,"astronomical":1717580040,"civil":1717585260,"nautical":1717582860},"set":{"apparent":1717554240,"astronomical":1717561440,"civil":1717556160,"nautical":1717558620}},"timezone":{"name":"America/Denver","now_in_dst":1,"offset_sec":-21600,"offset_string":"-0600","short_name":"MDT"},"what3words":{"words":"deputy.stores.space"}},"bounds":{"northeast":{"lat":39.7535283,"lng":-105.000662},"southwest":{"lat":39.7534283,"lng":-105.000762}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","ISO_3166-2":["US-CO"],"_category":"transportation","_normalized_city":"Denver","_type":"bus_stop","city":"Denver","continent":"North
        America","country":"United States","country_code":"us","highway":"Union Station
        Gate B1","house_number":"1700","neighbourhood":"Union Station","postcode":"80202","road":"Wewatta
        Street","state":"Colorado","state_code":"CO"},"confidence":9,"formatted":"Union
        Station Gate B1, 1700 Wewatta Street, Denver, CO 80202, United States of America","geometry":{"lat":39.7534783,"lng":-105.000712}},{"annotations":{"DMS":{"lat":"31\u00b0
        59'' 29.22000'''' N","lng":"34\u00b0 45'' 1.35720'''' E"},"MGRS":"36RXA6535940826","Maidenhead":"KM71jx07bw","Mercator":{"x":3868394.273,"y":3739553.259},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=1803043619#map=16/31.99145/34.75038","note_url":"https://www.openstreetmap.org/note/new#map=16/31.99145/34.75038&layers=N","url":"https://www.openstreetmap.org/?mlat=31.99145&mlon=34.75038#map=16/31.99145/34.75038"},"UN_M49":{"regions":{"ASIA":"142","IL":"376","WESTERN_ASIA":"145","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":972,"currency":{"alternate_symbols":["\u05e9\u05f4\u05d7","NIS"],"decimal_mark":".","html_entity":"&#x20AA;","iso_code":"ILS","iso_numeric":"376","name":"Israeli
        New Sheqel","smallest_denomination":10,"subunit":"Agora","subunit_to_unit":100,"symbol":"\u20aa","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddee\ud83c\uddf1","geohash":"sv8tyzb7wqx0suxb82vc","qibla":155.59,"roadinfo":{"drive_on":"right","road":"Yosef
        Sapir","speed_in":"km/h"},"sun":{"rise":{"apparent":1717554960,"astronomical":1717549080,"civil":1717553280,"nautical":1717551240},"set":{"apparent":1717605780,"astronomical":1717611720,"civil":1717607460,"nautical":1717609500}},"timezone":{"name":"Asia/Jerusalem","now_in_dst":1,"offset_sec":10800,"offset_string":"+0300","short_name":"IDT"},"what3words":{"words":"curious.rooting.jumps"}},"bounds":{"northeast":{"lat":31.9915,"lng":34.750427},"southwest":{"lat":31.9914,"lng":34.750327}},"components":{"ISO_3166-1_alpha-2":"IL","ISO_3166-1_alpha-3":"ISR","ISO_3166-2":["IL-M"],"_category":"transportation","_normalized_city":"Rishon
        LeZion","_type":"bus_stop","city":"Rishon LeZion","continent":"Asia","country":"Israel","country_code":"il","highway":"Yosef
        Sapir/Shimon Yisraeli","industrial":"New Industrial Area","postcode":"5960403","road":"Yosef
        Sapir","state":"Center District","state_district":"Rehovot Subdistrict","suburb":"Neve
        Hof"},"confidence":9,"formatted":"Yosef Sapir/Shimon Yisraeli, Yosef Sapir,
        5960403 Rishon LeZion, Israel","geometry":{"lat":31.99145,"lng":34.750377}},{"annotations":{"DMS":{"lat":"39\u00b0
        45'' 15.53256'''' N","lng":"105\u00b0 0'' 5.75244'''' W"},"FIPS":{"state":"08"},"MGRS":"13SDE9986300489","Maidenhead":"DM79ls91ta","M[...]
- request:
    method: get
    uri: https://api.weather.gov/points/39.7534783,-105.000712
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/39.7535,-105.0007"
      X-Correlation-Id:
      - 2f7f2819
      X-Server-Id:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1911e7
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "2f7f2819",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/2f7f2819"
        }
  recorded_at: Wed, 05 Jun 2024 19:01:52 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/39.7535,-105.0007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 2f7f29bf
      X-Server-Id:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 19128e
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.7535,-105.0007",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -105.00069999999999,
                    39.753500000000003
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.7535,-105.0007",
                "@type": "wx:Point",
                "cwa": "BOU",
                "forecastOffice": "https://api.weather.gov/offices/BOU",
                "gridId": "BOU",
                "gridX": 63,
                "gridY": 62,
                "forecast": "https://api.weather.gov/gridpoints/BOU/63,62/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/BOU/63,62/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/BOU/63,62",
                "observationStations": "https://api.weather.gov/gridpoints/BOU/63,62/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -105.0626149,
                            39.750819999999997
                        ]
                    },
                    "properties": {
                        "city": "Edgewater",
                        "state": "CO",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 5301.4096764853002
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 86
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/COZ040",
                "county": "https://api.weather.gov/zones/county/COC031",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/COZ240",
                "timeZone": "America/Denver",
                "radarStation": "KFTG"
            }
        }
  recorded_at: Wed, 05 Jun 2024 19:01:52 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/BOU/63,62/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 3ec8217a
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1913df
    body:
      encoding: UTF-8
      string: |-
        {
            "@co[...]
