---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=34343
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2483'
      X-Ratelimit-Reset:
      - '1716422400'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2483,"reset":1716422400},"results":[{"annotations":{"DMS":{"lat":"45\u00b0
        16'' 58.36260'''' N","lng":"75\u00b0 50'' 55.51404'''' W"},"MGRS":"18TVR3343514725","Maidenhead":"FN25bg87dv","Mercator":{"x":-8443444.661,"y":5635790.641},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=171414962#map=17/45.28288/-75.84875","note_url":"https://www.openstreetmap.org/note/new#map=17/45.28288/-75.84875&layers=N","url":"https://www.openstreetmap.org/?mlat=45.28288&mlon=-75.84875#map=17/45.28288/-75.84875"},"UN_M49":{"regions":{"AMERICAS":"019","CA":"124","NORTHERN_AMERICA":"021","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["C$","CAD$"],"decimal_mark":".","disambiguate_symbol":"C$","html_entity":"$","iso_code":"CAD","iso_numeric":"124","name":"Canadian
        Dollar","smallest_denomination":5,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\udde8\ud83c\udde6","geohash":"f241d52xgumuk2vtygk2","qibla":57.06,"roadinfo":{"drive_on":"right","road":"Tandalee
        Crescent","speed_in":"km/h"},"sun":{"rise":{"apparent":1716370020,"astronomical":1716361800,"civil":1716367860,"nautical":1716365160},"set":{"apparent":1716338040,"astronomical":1716346320,"civil":1716340200,"nautical":1716342960}},"timezone":{"name":"America/Toronto","now_in_dst":1,"offset_sec":-14400,"offset_string":"-0400","short_name":"EDT"},"what3words":{"words":"maintenance.bypassed.scrap"}},"bounds":{"northeast":{"lat":45.2831911,"lng":-75.8484134},"southwest":{"lat":45.282566,"lng":-75.8490944}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","ISO_3166-2":["CA-ON"],"_category":"outdoors/recreation","_normalized_city":"Ottawa","_type":"pitch","city":"Ottawa","city_district":"Kanata
        South","continent":"North America","country":"Canada","country_code":"ca","pitch":34343,"postcode":"K2M
        3B5","road":"Tandalee Crescent","state":"Ontario","state_code":"ON","state_district":"Eastern
        Ontario","suburb":"Kanata"},"confidence":9,"formatted":"34343, Tandalee Crescent,
        Ottawa, ON K2M 3B5, Canada","geometry":{"lat":45.2828785,"lng":-75.8487539}},{"annotations":{"DMS":{"lat":"39\u00b0
        45'' 15.53256'''' N","lng":"105\u00b0 0'' 5.75244'''' W"},"FIPS":{"state":"08"},"MGRS":"13SDE9986300489","Maidenhead":"DM79ls91ta","Mercator":{"x":-11688724.409,"y":4802973.933},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=713180582#map=17/39.75431/-105.00160","note_url":"https://www.openstreetmap.org/note/new#map=17/39.75431/-105.00160&layers=N","url":"https://www.openstreetmap.org/?mlat=39.75431&mlon=-105.00160#map=17/39.75431/-105.00160"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"9xj64th1tmmu58exxjmp","qibla":34.94,"roadinfo":{"drive_on":"right","road":"Wewatta
        Street","speed_in":"mph"},"sun":{"rise":{"apparent":1716378000,"astronomical":1716371220,"civil":1716376140,"nautical":1716373800},"set":{"apparent":1716344040,"astronomical":1716350880,"civil":1716345900,"nautical":1716348240}},"timezone":{"name":"America/Denver","now_in_dst":1,"offset_sec":-21600,"offset_string":"-0600","short_name":"MDT"},"what3words":{"words":"spin.discrepancy.stores"}},"bounds":{"northeast":{"lat":39.7553427,"lng":-105.0002235},"southwest":{"lat":39.7532539,"lng":-105.0029299}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","ISO_3166-2":["US-CO"],"_category":"transportation","_normalized_city":"Denver","_type":"bus_station","bus_station":"Union
        Station Bus Concourse","city":"Denver","continent":"North America","country":"United
        States","country_code":"us","house_number":"1700","postcode":"80202","retail":"16th
        Street Mall","road":"Wewatta Street","state":"Colorado","state_code":"CO"},"confidence":9,"formatted":"Union
        Station Bus Concourse, 16th Street Mall, 1700 Wewatta Street, Denver, CO 80202,
        United States of America","geometry":{"lat":39.7543146,"lng":-105.0015979}},{"annotations":{"DMS":{"lat":"39\u00b0
        45'' 12.52188'''' N","lng":"105\u00b0 0'' 2.56320'''' W"},"FIPS":{"state":"08"},"MGRS":"13SDE9993900396","Maidenhead":"DM79ls90vu","Mercator":{"x":-11688625.7[...]
- request:
    method: get
    uri: https://api.weather.gov/points/39.7543146,-105.0015979
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/39.7543,-105.0016"
      X-Correlation-Id:
      - 173f6ec9
      X-Server-Id:
      - vm-lnx-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 298eb660
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "173f6ec9",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/173f6ec9"
        }
  recorded_at: Wed, 22 May 2024 01:59:18 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/39.7543,-105.0016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 4f942b5e
      X-Server-Id:
      - vm-lnx-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 298eb6cd
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.7543,-105.0016",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -105.0016,
                    39.754300000000001
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.7543,-105.0016",
                "@type": "wx:Point",
                "cwa": "BOU",
                "forecastOffice": "https://api.weather.gov/offices/BOU",
                "gridId": "BOU",
                "gridX": 63,
                "gridY": 62,
                "forecast": "https://api.weather.gov/gridpoints/BOU/63,62/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/BOU/63,62/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/BOU/63,62",
                "observationStations": "https://api.weather.gov/gridpoints/BOU/63,62/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -105.0626149,
                            39.750819999999997
                        ]
                    },
                    "properties": {
                        "city": "Edgewater",
                        "state": "CO",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 5230.3910103735998
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 85
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/COZ040",
                "county": "https://api.weather.gov/zones/county/COC031",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/COZ240",
                "timeZone": "America/Denver",
                "radarStation": "KFTG"
            }
        }
  recorded_at: Wed, 22 May 2024 01:59:18 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/BOU/63,62/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 3c34b1f
      X-Server-Id:
      - vm-lnx-nids-apiapp15.ncep.noaa.gov
      X-Edge-Request-Id:
      - 298eb744
    body:
      encoding: UTF-8
      string: |-
        {
            "@context"[...]
