---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=1%20apple%20parkway,%20cuptertino
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2302'
      X-Ratelimit-Reset:
      - '1716336000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2302,"reset":1716336000},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Tue, 21 May 2024 17:50:24
        GMT","created_unix":1716313824},"total_results":0}'
  recorded_at: Tue, 21 May 2024 17:50:24 GMT
recorded_with: VCR 6.2.0
