---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=<OPENCAGEDATA KEY>&language=en&q=10002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2493'
      X-Ratelimit-Reset:
      - '1717632000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2493,"reset":1717632000},"results":[{"annotations":{"DMS":{"lat":"36\u00b0
        33'' 51.70032'''' N","lng":"3\u00b0 35'' 50.92656'''' E"},"MGRS":"31SEA5346346713","Maidenhead":"JM16tn15qk","Mercator":{"x":400469.597,"y":4353100.809},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/36.56436/3.59748&layers=N","url":"https://www.openstreetmap.org/?mlat=36.56436&mlon=3.59748#map=16/36.56436/3.59748"},"UN_M49":{"regions":{"AFRICA":"002","DZ":"012","NORTHERN_AFRICA":"015","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":213,"currency":{"alternate_symbols":["DA"],"decimal_mark":".","format":"%n
        %u","html_entity":"","iso_code":"DZD","iso_numeric":"012","name":"Algerian
        Dinar","smallest_denomination":100,"subunit":"Centime","subunit_to_unit":100,"symbol":"\u062f.\u062c","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\udde9\ud83c\uddff","geohash":"snd81b7dg6gnqzdwjrrs","qibla":105.64,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717561740,"astronomical":1717555200,"civil":1717559940,"nautical":1717557660},"set":{"apparent":1717614000,"astronomical":1717620540,"civil":1717615800,"nautical":1717618080}},"timezone":{"name":"Africa/Algiers","now_in_dst":0,"offset_sec":3600,"offset_string":"+0100","short_name":"CET"},"what3words":{"words":"playback.impresses.depend"}},"bounds":{"northeast":{"lat":36.7243612,"lng":3.7574796},"southwest":{"lat":36.4043612,"lng":3.4374796}},"components":{"ISO_3166-1_alpha-2":"DZ","ISO_3166-1_alpha-3":"DZA","ISO_3166-2":["DZ-10"],"_category":"postcode","_normalized_city":"Lakhdaria","_type":"postcode","continent":"Africa","country":"Algeria","country_code":"dz","county":"Lakhdaria
        District","postcode":"10002","state":"Bouira","town":"Lakhdaria"},"confidence":3,"formatted":"10002
        Lakhdaria, Algeria","geometry":{"lat":36.5643612,"lng":3.5974796}},{"annotations":{"DMS":{"lat":"39\u00b0
        28'' 3.09720'''' N","lng":"6\u00b0 22'' 21.64260'''' W"},"MGRS":"29SQD2601471955","Maidenhead":"IM69tl52ge","Mercator":{"x":-709403.327,"y":4761698.899},"NUTS":{"NUTS0":{"code":"ES"},"NUTS1":{"code":"ES4"},"NUTS2":{"code":"ES43"},"NUTS3":{"code":"ES432"}},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/39.46753/-6.37268&layers=N","url":"https://www.openstreetmap.org/?mlat=39.46753&mlon=-6.37268#map=16/39.46753/-6.37268"},"UN_M49":{"regions":{"ES":"724","EUROPE":"150","SOUTHERN_EUROPE":"039","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":34,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddea\ud83c\uddf8","geohash":"ez52wbze1b63pdp6bby3","qibla":100.75,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717563600,"astronomical":1717556520,"civil":1717561680,"nautical":1717559280},"set":{"apparent":1717616880,"astronomical":1717624020,"civil":1717618800,"nautical":1717621260}},"timezone":{"name":"Europe/Madrid","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"pretty.readings.glory"}},"bounds":{"northeast":{"lat":39.627527,"lng":-6.2126785},"southwest":{"lat":39.307527,"lng":-6.5326785}},"components":{"ISO_3166-1_alpha-2":"ES","ISO_3166-1_alpha-3":"ESP","ISO_3166-2":["ES-EX","ES-CC"],"_category":"postcode","_normalized_city":"C\u00e1ceres","_type":"postcode","city":"C\u00e1ceres","continent":"Europe","country":"Spain","country_code":"es","political_union":"European
        Union","postcode":"10002","province":"C\u00e1ceres","state":"Extremadura","state_code":"EX","suburb":"El
        Rodeo"},"confidence":3,"formatted":"10002 C\u00e1ceres, Spain","geometry":{"lat":39.467527,"lng":-6.3726785}},{"annotations":{"DMS":{"lat":"30\u00b0
        31'' 19.84728'''' N","lng":"47\u00b0 52'' 14.69136'''' E"},"MGRS":"38RQU7547280156","Maidenhead":"LM30wm45lh","Mercator":{"x":5328947.247,"y":3549151.895},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/30.52218/47.87075&layers=N","url":"https://www.openstreetmap.org/?mlat=30.52218&mlon=47.87075#map=16/30.52218/47.87075"},"UN_M49":{"regions":{"ASIA":"142","IQ":"368","WESTERN_ASIA":"145","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":964,"currency":{"alternate_symbols":[],"decimal_mark":".","format":"%n
        %u","html_entity":"","iso_code":"IQD","iso_numeric":"368","name":"Iraqi Dinar","smallest_denomination":50000,"subunit":"Fils","subunit_to_unit":1000,"symbol":"\u0639.\u062f","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\uddee\ud83c\uddf6","geohash":"tj6j9k6kt68w9b5vjt3c","qibla":220.32,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717552020,"astronomical":1717546260,"civil":1717550400,"nautical":1717548420},"set":{"apparent":1717602420,"astronomical":1717608180,"civil":1717604100,"nautical":1717606080}},"timezone":{"name":"Asia/Baghdad","now_in_dst":0,"offset_sec":10800,"offset_string":"+0300","short_name":"+03"},"what3words":{"words":"embraced.about.parties"}},"bounds":{"northeast":{"lat":30.6821798,"lng":48.0307476},"southwest":{"lat":30.3621798,"lng":47.7107476}},"components":{"ISO_3166-1_alpha-2":"IQ","ISO_3166-1_alpha-3":"IRQ","ISO_3166-2":["IQ-BA"],"_category":"postcode","_normalized_city":"Shatt
        Al-Arab Central Sbudsitrict","_type":"postcode","continent":"Asia","country":"Iraq","country_code":"iq","district":"Shatt
        Al-Arab District","postcode":"10002","state":"Al-Basra Governorate","subdistrict":"Shatt
        Al-Arab Central Sbudsitrict"},"confidence":3,"formatted":"Shatt Al-Arab Central
        Sbudsitrict, Al-Basra Governorate, 10002, Iraq","geometry":{"lat":30.5221798,"lng":47.8707476}},{"annotations":{"DMS":{"lat":"34\u00b0
        0'' 40.12200'''' N","lng":"6\u00b0 49'' 43.48956'''' W"},"MGRS":"29SQT0050265517","Maidenhead":"IM64oa02nq","Mercator":{"x":-760172.654,"y":4006398.809},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/34.01114/-6.82875&layers=N","url":"https://www.openstreetmap.org/?mlat=34.01114&mlon=-6.82875#map=16/34.01114/-6.82875"},"UN_M49":{"regions":{"AFRICA":"002","MA":"504","NORTHERN_AFRICA":"015","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":212,"currency":{"alternate_symbols":[],"decimal_mark":".","format":"%n
        %u","html_entity":"","iso_code":"MAD","iso_numeric":"504","name":"Moroccan
        Dirham","smallest_denomination":1,"subunit":"Centime","subunit_to_unit":100,"symbol":"\u062f.\u0645.","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\uddf2\ud83c\udde6","geohash":"ey51kxe3q8vnde73zzny","qibla":94.62,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1717564620,"astronomical":1717558500,"civil":1717562880,"nautical":1717560780},"set":{"apparent":1717616100,"astronomical":1717622280,"civil":1717617840,"nautical":1717619940}},"timezone":{"name":"Africa/Casablanca","now_in_dst":0,"offset_sec":3600,"offset_string":"+0100","short_name":"+01"},"what3words":{"words":"spider.debating.scoring"}},"bounds":{"northeast":{"lat":34.171145,"lng":-6.6687471},"southwest":{"lat":33.851145,"lng":-6.9887471}},"components":{"ISO_3166-1_alpha-2":"MA","ISO_3166-1_alpha-3":"MAR","ISO_3166-2":["MA-04","MA-RAB"],"_category":"postcode","_normalized_city":"Rabat","_type":"postcode","city":"Rabat","continent":"Africa","country":"Morocco","country_code":"ma","county":"\u0628\u0627\u0634\u0648\u064a\u0629
        \u0627\u0644\u0631\u0628\u0627\u0637","municipality":"Hassan \u062d\u0633\u0627\u0646","postcode":"10002","region":"Rabat-Sal\u00e9-K\u00e9nitra","state_district":"Rabat
        Prefecture"},"confidence":3,"formatted":"10002 Rabat, Morocco","geometry":{"lat":34.011145,"lng":-6.8287471}},{"annotations":{"DMS":{"lat":"9\u00b0
        55'' 20.85204'''' S","lng":"76\u00b0 13'' 52.82040'''' W"},"MGRS":"18LUQ6500902910","Maidenhead":"FI10vb28fo","Mercator":{"x":-8486033.843,"y":-1102768.078},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=16/-9.92246/-76.23134&layers=N","url":"https://www.openstreetmap.org/?mlat=-9.92246&mlon=-76.23134#map=16/-9.92246/-76.23134"},"UN_M49":{"regions":{"AMERICAS":"019","LATIN_AMERICA":"419","PE":"604","SOUTH_AMERICA":"005","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":51,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"S/","iso_code":"PEN","iso_numeric":"604","name":"Peruvian
        Sol","smallest_denomination":1,"subunit":"C\u00e9ntimo","subunit_to_unit":100,"symbol":"S/","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\uddf5\ud83c\uddea","geohash":"6q1z93dj3p9dzz0mm33k","qibla":70.92,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":[...]
- request:
    method: get
    uri: https://api.weather.gov/points/40.7171157,-73.9892566
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/40.7171,-73.9893"
      X-Correlation-Id:
      - 2bee2eee
      X-Server-Id:
      - vm-bldr-nids-apiapp13.ncep.noaa.gov
      X-Edge-Request-Id:
      - 7c24c87
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "2bee2eee",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/2bee2eee"
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/40.7171,-73.9893
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 2fb88f80
      X-Server-Id:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1b8199
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.7171,-73.9893",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.9893,
                    40.717100000000002
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.7171,-73.9893",
                "@type": "wx:Point",
                "cwa": "OKX",
                "forecastOffice": "https://api.weather.gov/offices/OKX",
                "gridId": "OKX",
                "gridX": 34,
                "gridY": 35,
                "forecast": "https://api.weather.gov/gridpoints/OKX/34,35/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/OKX/34,35/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/OKX/34,35",
                "observationStations": "https://api.weather.gov/gridpoints/OKX/34,35/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -74.0279259,
                            40.745251000000003
                        ]
                    },
                    "properties": {
                        "city": "Hoboken",
                        "state": "NJ",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 4515.6793871134996
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 133
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/NYZ072",
                "county": "https://api.weather.gov/zones/county/NYC061",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/NYZ212",
                "timeZone": "America/New_York",
                "radarStation": "KDIX"
            }
        }
  recorded_at: Tue, 21 May 2024 12:30:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/34,35/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 6ebb729
      X-Server-Id:
      - vm-bldr-nids-apiapp14.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1b84a0
    body:
      encoding: UTF-8
      string: |-
        {
            "@co[...]
[...]
