
<div class="border border-gray-300 rounded-xl bg-white shadow-md">
  <div class="p-8 flex flex-col items-center gap-12">
<h1 class="font-bold text-3xl text-gray-800">Weather Forecast</h1>

    <form id="form1">
    <input type="text" placeholder="11206">
      <button type="submit" class="inline-block ml-4 border border-gray-300 py-2 px-4">Submit<button>
    </form>
  </div>
</div>