<form id="form1" class="flex flex-col justify-between pt-16">
  <div class="pb-4">
    <label for="zip-code" class="block font-bold pb-2 text-gray-800 text-sm tracking-tight">zip code</label>
    <input id="zip-code" type="text" class="rounded placeholder-gray-200 w-full border-gray-300 tracking-tight" placeholder="10004">
  </div>
  <button type="submit" class="block hover:from-violet-800 hover:to-violet-700 active:from-violet-900 active:to-violet-800 active:scale-[.997] bg-gradient-to-t from-violet-700 to-violet-600 text-gray-100 py-2 px-28 rounded tracking-tight">submit</button>
</form>