
<div class="border border-gray-300 rounded-xl bg-white shadow-md">
  <div class="px-20 py-8 flex flex-col items-center gap-8">
    <div>
    <h1 class="text-4xl font-bold text-gray-800 tracking-tight">Weather</h1>
    <h1 class="pb-16 text-4xl text-gray-800 tracking-tight">Forecast</h1>
    </div>
    <form id="form1" class="flex flex-col justify-between min-h-36">
      <div>
        <label for="zipcode" class="block font-bold pb-1 text-gray-800">zip code</label>
        <input id="zipcode" type="text" class="rounded" placeholder="11206">
      </div>
      <button type="submit" class="block border border-gray-300 py-2 px-4 rounded">Submit</button>
    </form>
  </div>
</div>