<div class="flex flex-col justify-center items-center">
  <h2 class="text-gray-900 text-3xl tracking-tight">Cloudy</h2>
  <!-- padding was found by taking out the degree symbol and negative sign, rendering, and then playing with the padding until the number exactly lined up-->
  <div class="pt-6 pr-[.7rem]">
    <span class="inline-block invisible text-gray-900 font-bold text-8xl tracking-tight">-</span>
    <h1 class="inline-block text-gray-900 font-bold text-8xl tracking-tight">100</h1>
    <span class="inline-block text-gray-900 font-bold text-7xl align-top tracking-tight">°</span>
  </div>
  <h3 class="text-gray-400 text-xl">Brooklyn</h3>
</div>
